.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;

  min-height: 100%;
}
//.nereTransferDiv {
//  position: absolute;
//}
//.onlyTransferInfo {
//  position: fixed;
//  font-size: 30px;
//}
//.onlyNereInfo {
//  position: relative;
//}
//.nere-caption{
//  left: 490px!important;
//}
//.mainNere {
//  left: 465px !important;
//  top: 155px !important;
//}