@font-face {
  src: url("../../../assets/fonts/MoscowFonts/MoscowSansBold.ttf");
  font-family: 'MoscowSansBold';
  font-weight: 700;
}
@font-face {
  src: url("../../../assets/fonts/MoscowFonts/MoscowSansRegular.ttf");
  font-family: 'MoscowSansRegular';
  font-weight: 700;
}


.topText {
  //background-color: #F7BFDA; //pink
  background-color: #B6DCF1; //blue
  width: 100%;
  height: 128px;
  font-family: MoscowSansRegular, serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  align-items: center;
  z-index: 1000;
}

.ruBigText {
  margin-top: 20px;
  font-family: MoscowSansBold, serif;
  font-weight: 800;
  font-size: 56px;
  margin-left: 24px;
  height: 0;
}

.enBigText {
  font-family: MoscowSansRegular, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #6D535C;
  margin-top: 8px;
  margin-left: 24px
}